body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}

ul li {
    list-style: none;
}

.week-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.week-info .week-day {
    width: 14%;
    text-align: right;
    font-size: 12px;
    padding-right: 5px;
}